body{
    overflow-x: hidden;
    background: white;
    min-height: 100vh;
}

.bottle:hover{
    width: 200px;

}

.bottle{
    top:50%;
    width: 100px;
    position:absolute;
    z-index: 2;
    animation: bottleRotate 15s linear infinite;
    cursor : url("../img/fishingNet.png"), default;
}


@keyframes bottleRotate{
0%{
    transform: rotate(20deg);
}
    10%{
       transform: rotateX(-20deg);
    }

    20%{
        transform: rotate(20deg);
    }

    30%{
        transform: rotate(-20deg);
    }

    40%{
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-20deg);
    }

    60%{
        transform: rotate(20deg);
    }

    70%{
        transform: rotate(-20deg);
    }

    80%{
        transform: rotate(20deg) ;
    }

    90%{
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
      }
}



/* try waves */

#seaWavesRight
{
    position: absolute;
    width: 100%;
    
    animation: waveMoveRight 5s linear infinite;
}
#seaWavesLeft
{
    position: absolute;
    width: 100%;
    animation-delay: -2s;
    animation: waveMoveLeft 8s linear infinite;
}


#wave1
{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    background: url("../img/wave.png");
    animation: waveMove 10s linear infinite;
}

#wave1:before 
{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    opacity: 0.3;
    background: url("../img/wave.png");
    animation: waveMove-reverse 10s linear infinite;
}

#wave1:after 
{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    opacity: 0.5;
    background: url("../img/wave.png");
    animation-delay: -5s;
    animation: waveMove 20s linear infinite;
}

#wave2 
{
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background: url("../img/wave.png");
    animation: waveMove 3s linear infinite;
}

#wave2:before 
{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0;
    opacity: 0.2;
    background: url("../img/wave.png");
    animation: waveMove-reverse 3s linear infinite;
}

#wave2:after 
{
    position: absolute;
    content: '';
    width: 100%;
    height: 200px;
    top: 0px;
    left: 0;
    opacity: 0.4;
    background: url("../img/wave.png");
    animation-delay: -2s;
    animation: waveMove 5s linear infinite;
}


@keyframes waveMove
{
0% {
    background-position: 0;
}
100% {
    background-position: 1902px;
}
}

@keyframes waveMove-reverse 
{
0% {
    background-position: 1902px;
}
100% {
    background-position: 0;
}
}





@keyframes waveMoveRight
{
0% {
    transform: translate(0%,0%);
    
}
50% {
    transform: translate(8%,10%);
}
100% {
    transform: translate(0%,0%);
}
}

@keyframes waveMoveLeft
{
0% {
    transform: translate(0%,0%);
    
}
50% {
    transform: translate(0%,10%);
}
100% {
    transform: translate(0%,0%);
}
}
#cloud1, #cloud4{
    position: absolute;
    width: 100%;
    
    animation: cloudMove 5s linear infinite;
}
#cloud2, #cloud3{
    position: absolute;
    width: 100%;
    
    animation: cloudMove 8s linear infinite;
}
@keyframes cloudMove
{
0% {
    transform: translate(0%,0%);
    
}
50% {
    transform: translate(8%,0%);
}
100% {
    transform: translate(0%,0%);
}
}


@keyframes backgroundMove
{
0% {
    background-position: 0;
}
100% {
    background-position: 1360px;
}
}


p{
    padding: 0 5%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }

.svg-container { 
	display: inline-block;
	position: relative;
	width: 100vw;
    height:100vh;
}

.svg-content { 
	display: inline-block;
	position: relative;
	height: 100vh;
    width: 100vw;
	top: 0;
	left: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: url("../img/letterBackground.png");
    box-shadow: none !important;
    background-color: transparent !important;
    border: none !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    height: 75%;
    padding: 20px;
    width: 80% !important;
  }

  .modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close{
    /* margin-right: 5%;
    margin-top: 5%; */
    margin:2% 0 0 5%;
    font-size: 20px !important;
    font-family: serif !important;
 } 
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #text{
      padding:2%;
  }
  #intro{
      margin-top: 2%;
  }


  #friend, #friendThis{
    left: 5%;
  }

#replyStatus{
    position: absolute;
    bottom: 6%;
    left: 12%;
}
#friendStatus{
    position: absolute;
    bottom: 6%;
    left: 10%;
}
.yellowBtn{
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
}

@media screen and (min-width: 200px) {
#moon, #sun{
    transform: translateX(-420px);
    transform: translateY(40px);
}
#sunset{
    transform: translateY(120px) scale(0.7);
}
}
@media screen and (min-width: 1025px) {
    #moon, #sun{
        transform: translateX(-120px);
        transform: translateY(40px);
    }

    }
@media screen and (min-width: 1400px) {
    #moon, #sun{
        transform: translateX(0);
        transform: translateY(40px);
    }

    }