.bg-image {
    background-image: url("../img/sea_register.jpeg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

nav {
    z-index: 3;
    position: absolute;

}

#dropdown {
    text-align: center;
    justify-content: center;
    /* color: black; */
}

#container {
    background-color: whitesmoke;
    width: 80%;
    height: 90%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
    padding: 20px;
    border-radius: 1em;
}

body,
html {
    height: 100%;
}

#navbar {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    color: antiquewhite;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
}