.bg-image {
    background-image: url("../img/sea_register.jpeg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

nav {
    z-index: 3;
    position: sticky;
    display: block;
}

#dropdown {
    text-align: center;
    justify-content: center;
    /* color: black; */
}

#container {
    background-color: whitesmoke;
    width: 80%;
    height: 95%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
    padding: 20px;
    border-radius: 1em;
    overflow: auto;
}

body,
html {
    height: 100%;
}

body {
    display:flex; 
    flex-direction:column; 
}

#navbar {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    color: antiquewhite;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: antiquewhite;
    margin-bottom: 5px;
}

.nav-link {
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    font-size: 16px;
}

.nav-logout {
    cursor: pointer;
    margin-bottom:0px;
}


footer {
    margin-top:auto; 
    position:relative;
    width: 100%;
    z-index: 999;
}