.bg-image {
    background-image: url("../img/sea_register.jpeg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

nav {
    z-index: 3;
    position: sticky;
    display: block;
}

#dropdown {
    text-align: center;
    justify-content: center;
    /* color: black; */
}

#container {
    background-color: whitesmoke;
    width: 80%;
    height: 95%;
    position: absolute;
    left: 10%;
    top: 10%;
    z-index: 1;
    padding: 20px;
    border-radius: 1em;
    overflow: auto;
}

body,
html {
    height: 100%;
}

body {
    display:flex; 
    flex-direction:column; 
}

#navbar {
    /* padding-top: 0px;
    padding-bottom: 0px; */
    color: antiquewhite;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: antiquewhite;
    margin-bottom: 5px;
}

.nav-link {
    margin-left: 25px;
    margin-right: 25px;
    font-family: sans-serif;
    font-size: 16px;
}

.nav-logout {
    cursor: pointer;
    margin-bottom:0px;
}

.badge {
    position: relative;
    bottom: 40px;
    left: 90px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
 

footer {
    margin-top:auto; 
    position:relative;
    width: 100%;
    z-index: 999;
}

.yellowBtn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    z-index:3;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .yellowBtn:hover:enabled {
    background-color: #fff;
  }
  
  .yellowBtn:active:enabled {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (max-width: 576px) {
    .yellowBtn{
      font-size: 8px;
      padding: 0 10px;
    }
  }