.mapContainer{

    width: 80%;
    margin: 5% auto;
    border: 1px solid rgba(255, 255, 255, 0.774);
    background-color:rgba(255, 255, 255, 0.774);
    border-radius: 2%;
    text-align: center;
    padding-top: 20px;


}
#map{
    height: 60vh;
    border-radius: 0 0 2% 2%;
}
