@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');


.inbox{
  margin:8% 0;
}
.message-container {
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

  .profile-img {
    height: 100px;
    width: 100px;
    background: url('../img/character_head2.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    left: -25px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  h4 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #756139;
  }
  .description{
    margin-top: 30px;
    margin-bottom: 30px;
  }
 
  
    .yellowBtn {
        background-color: #fbeee0;
        border: 2px solid #422800;
        border-radius: 30px;
        box-shadow: #422800 4px 4px 0 0;
        color: #422800;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        padding: 0 18px;
        line-height: 30px;
        position: absolute;
        bottom: 5%;
        right: 5%;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }
      
      .yellowBtn:hover {
        background-color: #fff;
      }
      
      .yellowBtn:active {
        box-shadow: #422800 2px 2px 0 0;
        transform: translate(2px, 2px);
      }
      @media (max-width: 576px) {
        .yellowBtn{
          font-size: 8px;
          padding: 0 10px;
        }
      }
  