@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');


.inbox{
  margin:8% 0;
}
.message-container {
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

  .profile-img {
    height: 100px;
    width: 100px;
    /* background: url('../img/character_head2.png'); */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 2;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  }
  h4 {
    font-family: 'Sriracha', arial, sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #756139;
  }
  .description{
    margin-top: 30px;
    margin-bottom: 30px;
  }
 
  
  .expand:active, .expand:hover {
    background-color: #fbeee0;
  }
  
  #inboxReply{
    display: none;
  }

  #sendReply{
    display: none;
    float:right;
    margin-bottom: 10px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5em;
    row-gap: 1em;
  }
  .friendContainer{
    margin: 2em 5em;
  } 


  @media screen and (min-width: 200px) {
    .wrapper {
    grid-template-columns: repeat(1, 1fr);
    }
  }
  @media screen and (min-width: 768px) {
    .wrapper {
    grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1200px) {
    .wrapper {
    grid-template-columns: repeat(3, 1fr);
    }
  }