/* #profile-body {
    display: block;
} */

/* .bg-image {
    position: absolute;
} */

/* .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -999;
    display: block;
    background-image: url('https://i.imgur.com/lL6tQfy.png');
    width: 1200px;
    height: 800px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  } */

  /* .content {
    /* position: fixed; 
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
  } */

.div {
    margin: 0px;
    padding: 0px;
}

#container-box {
    background-color: whitesmoke;
    z-index: -3;
    width: 80%;
    margin-top: 50px;
    border-radius: 1em;
}

.bottom_row {
    margin: 0px;
}

textarea {
    margin: 0px;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    /* margin-left: 40%; */
    width: 100%;
}

.ch-part {
    display: flex;
    justify-content: center;
}

/* .arrow-row-left {
    width: 95%;
}

.arrow-row-right {
    width:95%;
} */

.arrow_row {
    height: 100px;
}

.arrow {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    max-width: 100px;
}

.arrow-col {
    height: 100%;
    width: 100%;
}

.arrow_previous {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.arrow_previous:hover, .arrow_next:hover {
    animation: shake 1.6s;
    animation-iteration-count: infinite;
}

.arrow_next {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

@keyframes shake {
    0% { transform: translate(2px); }
    10% { transform: translate(-2px); }
    20% { transform: translate(2px); }
    30% { transform: translate(-2px); }
    40% { transform: translate(2px); }
    50% { transform: translate(-2px); }
    60% { transform: translate(2px); }
    70% { transform: translate(-2px); }
    80% { transform: translate(2px); }
    90% { transform: translate(-2px); }
    100% { transform: translate(2px); }
  }



/* ALL SIZES */
/* Mobile Small 320px */
@media screen and (max-width: 374px) {
    .parts {
        width: 100%;
        height: 270px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
        padding: 10px;
    }
    
    #head {
        position: absolute;
        height:auto;
        width: 100%;
        bottom: 45%;
        z-index: 99999;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 15%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 0%;
        z-index: -2;
    }
}


/* Mobile Medium 375px */
@media screen and (min-width: 375px) {
    .parts {
        width: 200px;
        height: 360px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 23%;
        z-index: -6;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: 8%;
        z-index: -7;
    }
}


/* Mobile Large */
@media screen and (min-width: 425px) {

    .parts {
        width: 200px;
        height: 405px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 20%;
        z-index: -1;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: 7%;
        z-index: -2;
    }
}


/* Custom Size 505px */
@media screen and (min-width: 505px) {

    .parts {
        width: 200px;
        height: 506px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 52%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 17%;
        z-index: -1;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: 2%;
        z-index: -2;
    }
}


/* Custom Size 550px */
@media screen and (min-width: 550px) {

    .parts {
        width: 200px;
        height: 550px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 20%;
        z-index: -1;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: 4%;
        z-index: -2;
    }
}


/* Bootstrap Small 576px */
@media screen and (min-width: 576px) {
    .parts {
        width: 200px;
        height: 480px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 55%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 20%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 5%;
        z-index: -2;
    }
}


/* Custom Size 655px */
@media screen and (min-width: 655px) {

    .parts {
        width: 200px;
        height: 480px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 17%;
        z-index: -1;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: 2%;
        z-index: -2;
    }
} 


/* Custom Size 715px */
@media screen and (min-width: 715px) {
    .parts {
        width: 200px;
        height: 486px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 48%;
    }
    
    #body {
        position: absolute;
        width: 100%;
        bottom: 16%;
        z-index: -1;
    }
    
    #leg {
        position: absolute;
        width: 100%;
        bottom: -1%;
        z-index: -2;
    }
}

/* Tablet 768px */
@media screen and (min-width: 768px) {
    .parts {
        width: 100%;
        height: 568px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 15%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 0%;
        z-index: -2;
    }
}


/* Custom Size 800px */
/* @media screen and (min-width: 800px) {
    .parts {
        width: 100%;
        height: 588px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 15%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 0%;
        z-index: -2;
    }
} */ 


/* Custom Size 840px */
@media screen and (min-width: 840px) {
    .parts {
        width: 100%;
        height: 612px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 48%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 12%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: -3%;
        z-index: -2;
    }
}


/* Custom Size 915px */
@media screen and (min-width: 915px) {
    .parts {
        width: 100%;
        height: 657px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 15%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 0%;
        z-index: -2;
    }
}


/* Custom Size 975px */
@media screen and (min-width: 975px) {
    .parts {
        width: 200px;
        height: 733px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 17%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 1%;
        z-index: -2;
    }
}


/* Custom Size 992px */
@media screen and (min-width: 992px) {
    .parts {
        width: 200px;
        height: 460px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 17%;
        
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: 4%;
        z-index: -2;
    }
}


/* Laptop 1024px */
@media screen and (min-width: 1024px) {
    .parts {
        width: 200px;
        height: 481px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 50%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 12%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: -3%;
        z-index: -2;
    }
}


/* Laptop 1115px */
@media screen and (min-width: 1115px) {
    .parts {
        width: 200px;
        height: 521px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 45%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 8%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: -8%;
        z-index: -2;
    }
}


/* Custom Size 1280px */
@media screen and (min-width: 1280px) {
    .parts {
        width: 200px;
        height: 571px;
        margin-left: 0 auto;
        margin-right: 0 auto;
        position: relative;
    }

    

    #head {
        position: absolute;
        height: auto;
        width: 100%;
        bottom: 45%;
    }

    #body {
        position: absolute;
        width: 100%;
        bottom: 10%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 100%;
        bottom: -5%;
        z-index: -2;
    }
}


/* Laptop Large 1440px */
@media screen and (min-width: 1440px) {
    .arrow {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
        height: auto;
    }

    #head, #body, #leg {
        margin-left: 10%;
        margin-right: auto;
    }

    .parts {
        width: 200px;
        height: 592px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 80%;
        bottom:47%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 14%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 1%;
        z-index: -2;
    }
}


/* Laptop Large 1600px */
@media screen and (min-width: 1600px) {
    .arrow {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
        height: auto;
    }

    .parts {
        width: 200px;
        height: 652px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 80%;
        bottom:47%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 14%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 1%;
        z-index: -2;
    }
}


/* Custom Size 1850px */
@media screen and (min-width: 1850px) {
    .parts {
        width: 200px;
        height: 760px;
        margin: 0px;
        position: relative;
    }

    /* #head, #body, #leg {
        margin-left: 15%;
        margin-right: auto;
    } */

    #head {
        position: absolute;
        height: auto;
        width: 80%;
        bottom:52%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 19%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 2%;
        z-index: -2;
    }
}


/* Custom Size 1920px */
@media screen and (min-width: 1920px) {
    .parts {
        width: 200px;
        height: 810px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 77%;
        bottom:52%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 16%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 0%;
        z-index: -2;
    }
}


/* Custom Size 2120px */
@media screen and (min-width: 2120px) {
    .parts {
        width: 200px;
        height: 870px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 77%;
        bottom:52%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 18%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 2%;
        z-index: -2;
    }
}


/* Custom Size 2195px */
/* @media screen and (min-width: 2070px) {
    .parts {
        width: 200px;
        height: 767px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 80%;
        bottom:45%;
        margin-left: 7%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 12%;
        margin-left: 7%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: -5%;
        margin-left: 7%;
        z-index: -2;
    }
} */


/* XL 2300px */
@media screen and (min-width: 2300px) {
    .parts {
        width: 200px;
        height: 970px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 77%;
        bottom:55%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 19%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 3%;
        z-index: -2;
    }
}


/* custom 2370px */
@media screen and (min-width: 2370px) {
    .parts {
        width: 200px;
        height: 1100px;
        margin: 0px;
        position: relative;
    }

    #head {
        position: absolute;
        height: auto;
        width: 77%;
        bottom:50%;
    }

    #body {
        position: absolute;
        width: 80%;
        bottom: 19%;
        z-index: -1;
    }

    #leg {
        position: absolute;
        width: 80%;
        bottom: 3%;
        z-index: -2;
    }
}