
#text{
      background: url(../img/letterBackground.png);
      background-size: 100% 100%;
      word-wrap: break-word;
      height: 500px;
  }

p{
    margin: auto;
    padding: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
  }

.row{
      display: flex;
  }

.yellowBtn{
  position: unset;
}
#status {
  padding: 10px;
}

  