<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/myMessage.css">
    <link rel="stylesheet" href="./css/general.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- using CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>

    <!-- General JS Script -->
    <script src="js/users.js"></script>
    <script src="js/database.js"></script>

    <!-- AXIOS FOR TELEGRAM HTTP GET REQUEST-->
    <script src="js/axios/axios.min.js"></script>

    <title>Document</title>
</head>

<body>
    <!-- Navigation Bar Vue Component (requires vue, firebase (for inbox number), navbar.js)-->
    <div id="navapp">
        <nav-bar ref="nvmref"></nav-bar>
    </div>
    <script src="js/navBarVue2.js"></script>
    <!-- end of nav bar-->

    <!-- remove if it looks messy-->
    <div class="bg-image"></div>
    <div class="friendContainer">
        
        <div id="friend">
            <div class="inbox" v-for="fri in friend_list" v-if="friend_list.length>0">
                <div class="message-container">

                    <div>
                        {{ addImg }}
                        <img :src="fri.img_head" alt="" class="profile-img">
                    </div>
                    <div class="expand">
                        <h4 v-model="name">
                            {{ fri.name }}
                        </h4>
                        <div class="description text-center" v-model="date">
                            {{ anniversary }}
                        </div>

                        <div class="text-center" id="inboxReply">
                            <textarea class="form-control" name="replyMessage" id="replyMessage" rows="3"
                                style="margin: 10px 10%; width:80%" placeholder="Hi"></textarea>

                        </div>
                        <button :id="fri.name" class="yellowBtn" onclick="expandReply(this)">Message</button>
                        <span><button id="sendReply" class="yellowBtn" @click="sendReplyClick(fri)">Send</button></span>
                        <p id="sendStatus"></p>
                    </div>
                   
                </div>
            </div>
            
            <div v-else>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <div class="message-container" style="position: relative; margin-top: 20%; text-align: center;">
                            <p>You have no friends yet. Why don't you try to catch a bottle and meet some new friends?
                            </p>
                        </div>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer class="bg-dark text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Team IDK</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    friend_list: [],
                    id: '',
                    date: '',
                    name:''
                }
            },
            created() {
                let user = sessionStorage.getItem("login_status")
                var friends = firebase.database().ref('friends/' + user);
                friends.once('value').then((snapshot) => {
                    var friend = snapshot.val();

                    var updates = {};

                    for (f in friend) {
                        var name = f;
                        var date = friend[f]['date']
                        this.friend_list.push({
                            name: name,
                            date: date
                        })

                        updates['/friends/' + user + "/" + f + "/notify"] = "true";

                    }
                    console.log(this.friend_list)
                    this.date = date;
                    this.name = name;
                    firebase.database().ref().update(updates);

                    navvm.$refs.nvmref.updateFriend();
                })
            },
            computed: {
                addImg() {
                    var users = firebase.database().ref('users/');
                    // console.log(sender)
                    users.once('value').then((snapshot) => {
                        for (i in this.friend_list) {
                            var sender = this.friend_list[i]['name']
                            var user = snapshot.val();
                            console.log(user[sender])
                            var img_head = user[sender]['img_head']
                            console.log(img_head)
                            this.friend_list[i]['img_head'] = img_head
                            console.log(this.friend_list)
                        }
                    })
                },
                anniversary() {
                    var name = this.name;
                    var date = this.date;
                    var today = new Date();
                    var current_year = today.getFullYear()
                    var current_mth = (today.getMonth() + 1)
                    var current_day = today.getDate();
                    var current = new Date(current_year, current_mth, current_day);
                    var anni = date.split('/')
                    var the_date = new Date(anni[2], anni[1], anni[0]);
                    var diff = (current.getTime() - the_date.getTime()) / (1000 * 60 * 60 * 24);   
                    console.log(diff)
                    if (diff == 0) {
                        return "This is the first day you met each other"
                    }
                    else {
                        return "You have met " + name + " for " + diff + " days"
                    }
                }
            },
            methods: {
                sendReplyClick: function(fri) {
                    var checkText = document.getElementById(fri.name).previousSibling.firstChild.value;
                    console.log(checkText);
                    if (checkText.replace(/\s/g, "") != "") {
                        console.log(fri);
                        var username = sessionStorage.getItem("login_status");
                        var receiver = fri['name'];
                        // var bottleID = msg['msg_name'];
                        var text = checkText;
                        console.log("sending from:" + username);
                        console.log("updating" + receiver);
                        var messages = firebase.database().ref('messages/');
                        messages.once('value').then((snapshot) => {
                            if (snapshot.exists()) {
                                var messages = snapshot.val();
                                // console.log(messages)
                                if (receiver in messages) {
                                    console.log("updating current receiver")
                                    // count number of msgs
                                    var msgs = messages[receiver]
                                    console.log(msgs)
                                    var keys = Object.keys(msgs)
                                    var count_msg = keys.length
                                    console.log(keys, count_msg)

                                    //update data with new bottle name
                                    var updates = {};
                                    var msg_name = "msg" + count_msg
                                    updates['/messages/' + receiver + "/" + msg_name + "/message"] =
                                        text;
                                    updates['/messages/' + receiver + "/" + msg_name + "/sender"] =
                                        username;
                                    // updates['/messages/' + username + "/" + bottleID + "/reply"] =
                                    //     'true'
                                    firebase.database().ref().update(updates);
                                    document.getElementById(fri.name).nextSibling.nextSibling.innerHTML =
                                        "Your message sent successfully!";
                                        document.getElementById(fri.name).nextSibling.nextSibling.setAttribute("class",
                                        "text-success");
                                        document.getElementById(fri.name).nextSibling.nextSibling.style.textAlign =
                                        "center";

                                } else {
                                    console.log("adding new the receiver:", receiver)
                                    var updates = {};
                                    updates['/messages/' + receiver + "/" + msg_name + "/message"] =
                                        text;
                                    updates['/messages/' + receiver + "/" + msg_name + "/sender"] =
                                        username;
                                    // updates['/messages/' + username + "/" + bottleID + "/reply"] =
                                    //     'true'
                                    firebase.database().ref().update(updates);
                                    document.getElementById(fri.name).nextSibling.nextSibling.innerHTML =
                                        "Your message sent successfully!";
                                        document.getElementById(fri.name).nextSibling.nextSibling.setAttribute("class",
                                        "text-success");
                                        document.getElementById(fri.name).nextSibling.nextSibling.style.textAlign =
                                        "center";
                                }
                                document.getElementById("replyMessage").value = "";
                            }

                        })

                        // notify receiver on telegram ~ -------------------------------------
                        function sendTeleNotifHelper(chatID, from) {
                            var BOTTOKEN = "2001239054:AAFHa2YyUb-8Y_T0NXt3J-_aRBDBrdgQrxI"
                            var sendString = `${from} has written a reply to you!! :)`;

                            var sendURL =
                                `https://api.telegram.org/bot${BOTTOKEN}/sendMessage?chat_id=${chatID}&text=${sendString}`;

                            axios.get(sendURL, {
                                    params: {}
                                })
                                .then(response => {
                                    console.log("telegram sent!")
                                })
                                .catch(error => {
                                    console.log("telegram error")
                                })
                        }

                        receiverUserInfo = firebase.database().ref(`users/${receiver}`);
                        receiverUserInfo.once('value').then((snapshot) => {
                            if (snapshot.exists()) {
                                //console.log(snapshot.val().interacted_users);
                                telegram_info = snapshot.val()
                                    .telegram_info; //key: user, value: number of times
                                sendTeleNotifHelper(telegram_info, username);
                            } else {
                                console.log("replied user no telegram id!")
                            }
                        })

                        // end of telegram notifier ~ -------------------------------

                        // to add: add to user_interaction database count~
                        const receiver_const = receiver;


                        loggedUserInteractedInfo = firebase.database().ref(
                            `users/${username}/interacted_users`);
                        loggedUserInteractedInfo.once('value').then((snapshot) => {
                            if (snapshot.exists()) {

                                var interactupdates = {};
                                console.log("have interacted user")
                                console.log(receiver_const)

                                var oldCount = snapshot.val()[receiver_const];
                                console.log(oldCount);
                                if (oldCount === undefined) {

                                    interactupdates[
                                        `users/${username}/interacted_users/${receiver_const}`
                                    ] = 1;

                                } else {
                                    var newCount = oldCount + 1;

                                    interactupdates[
                                        `users/${username}/interacted_users/${receiver_const}`
                                    ] = newCount;

                                }

                                firebase.database().ref().update(interactupdates);


                            } else {
                                console.log("no interacted users")
                                console.log(receiver_const)
                                firebase.database().ref(`users/${username}/interacted_users`).set({
                                    [receiver_const]: 1
                                })
                            }
                        })



                        //--------- end of adding user_interaction database count
                    } else {
                        
                        document.getElementById(fri.name).nextSibling.nextSibling.innerHTML = "Cannot reply empty text!";
                        document.getElementById(fri.name).nextSibling.nextSibling.setAttribute("class", "text-danger");
                        document.getElementById(fri.name).nextSibling.nextSibling.style.textAlign =
                                        "center";;

                    }
                },
            },
        }).mount('#friend')

        function expandReply(ele) {
            var id = ele.id;
            console.log(id);
            var msg = document.getElementById(id);
            msg.classList.toggle("active");
            var reply = msg.previousSibling;
            var sendReply = msg.nextSibling.firstChild;
            console.log(reply);
            if (reply.style.display === "block") {
                reply.style.display = "none";
                msg.innerHTML = "Message";
                sendReply.style.display = "none";
            } else {
                reply.style.display = "block";
                msg.innerHTML = "Collapse";
                sendReply.style.display = "block";
            }
        }
    </script>

    <!-- Bundled Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>