<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/myMessage.css">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- using CDN -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>

    <!-- General JS Script -->
    <script src="js/users.js"></script>
    <script src="js/database.js"></script>

    <!-- AXIOS FOR TELEGRAM HTTP GET REQUEST-->
    <script src="js/axios/axios.min.js"></script>

    <title>Document</title>
</head>

<body>
    <!-- Navigation Bar Vue Component (requires vue, firebase (for inbox number), navbar.js)-->
    <div id="navapp">
        <nav-bar ref="nvmref"></nav-bar>
    </div>
    <script src="js/navBarVue2.js"></script>
    <!-- end of nav bar-->

    <!-- remove if it looks messy-->
    <div class="bg-image"></div>

    <div id="message">
        <div class="inbox" v-for="(msg,index) in msg_list" v-if="msg_list.length>0">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="message-container">
                        {{ addImg }}
                        <div>
                            <img :src="msg.img_head" alt="" class="profile-img">

                        </div>
                        <div class="expand">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <h4>
                                        {{ msg.sender }}
                                    </h4>
                                </div>
                              
                                <div class="col-lg-4 col-12 text-center">
                                    <button class="yellowBtn fas fa-plus"
                                        @click="connect(msg.sender, getPath(msg.sender))"
                                        v-if="checkFriend(msg.sender)">&nbsp;Follow</button>
                                </div>
                                
                            </div>
                            <div class="description text-center">
                                {{ msg.msg }}
                            </div>

                            <div class="text-center" id="inboxReply">
                                <textarea class="form-control" name="replyMessage" :id="msg.msg_name" rows="3"
                                    style="margin: 10px 10%; width:80%" placeholder="Hi"></textarea>

                            </div>
                            <button :id="index" class="yellowBtn" onclick="expandReply(this)">Reply</button>

                            <span><button id="sendReply" class="yellowBtn" @click="sendReply(msg)">Send</button></span>

                        </div>


                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>
        <div v-else id="noFriend">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="message-container" style="position: relative; margin-top: 20%; text-align: center;">
                        <p>You have no new message received. Why don't you try to catch a bottle?</p>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
        </div>

        <!-- :style="{ display : sendStatus}" -->
        <div id="myModal4" class="modal" :style="{ display : sendStatus}">
            <!-- Modal content -->
            <div class="modal-content2">
                <img src="img/success.png" style="width: 10%;">
                <div id="notiMessage" style="margin: 20px;">Reply Sent</br>This message will disappear from your inbox.
                </div>
                <button id="confirm" class="yellowBtn" @click="exit()">OK</button>
            </div>
        </div>



    </div>
    <footer class="bg-dark text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Team IDK</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    msg_list: [],
                    img_list: [],
                    id: '',
                    sendStatus: '',
                }
            },
            created() {
                let user = sessionStorage.getItem("login_status")
                var messages = firebase.database().ref('messages/' + user);
                messages.once('value').then((snapshot) => {
                    var message = snapshot.val();
                    for (i in message) {
                        if (message[i]['reply'] != 'true') {
                            var msg = message[i]['message']
                            var sender = message[i]['sender']
                            this.msg_list.push({
                                msg: msg,
                                sender: sender,
                                msg_name: i,
                            })
                        }
                    }
                    console.log(this.msg_list)
                })
            },
            computed: {
                addImg() {
                    var users = firebase.database().ref('users/');
                    // console.log(sender)
                    users.once('value').then((snapshot) => {
                        for (i in this.msg_list) {
                            var sender = this.msg_list[i]['sender']
                            var user = snapshot.val();
                            console.log(user[sender])
                            var img_head = user[sender]['img_head']
                            console.log(img_head)
                            this.msg_list[i]['img_head'] = img_head
                            console.log(this.msg_list)

                        }
                    })


                }
            },
            methods: {
                exit: function () {
                    this.sendStatus = "none"
                },
                sendReply: function (msg) {
                    var textID = msg.msg_name
                    var checkText = document.getElementById(textID).value;
                    if (checkText.replace(/\s/g, "") != "") {
                        console.log(msg);
                        var username = sessionStorage.getItem("login_status");
                        var receiver = msg['sender'];
                        var bottleID = msg['msg_name'];
                        var text = checkText;
                        console.log("sending from:" + username);
                        console.log("updating" + receiver);
                        var messages = firebase.database().ref('messages/');
                        messages.once('value').then((snapshot) => {
                            if (snapshot.exists()) {
                                var messages = snapshot.val();
                                // console.log(messages)
                                if (receiver in messages) {
                                    console.log("updating current receiver")
                                    // count number of msgs
                                    var msgs = messages[receiver]
                                    console.log(msgs)
                                    var keys = Object.keys(msgs)
                                    var count_msg = keys.length
                                    console.log(keys, count_msg)

                                    //update data with new bottle name
                                    var updates = {};
                                    var msg_name = "msg" + count_msg
                                    updates['/messages/' + receiver + "/" + msg_name + "/message"] =
                                        text;
                                    updates['/messages/' + receiver + "/" + msg_name + "/sender"] =
                                        username;
                                    updates['/messages/' + username + "/" + bottleID + "/reply"] =
                                        'true'
                                    firebase.database().ref().update(updates);
                                    this.sendStatus = "block";

                                } else {
                                    console.log("adding new the receiver:", receiver)
                                    var updates = {};
                                    updates['/messages/' + receiver + "/" + msg_name + "/message"] =
                                        text;
                                    updates['/messages/' + receiver + "/" + msg_name + "/sender"] =
                                        username;
                                    updates['/messages/' + username + "/" + bottleID + "/reply"] =
                                        'true'
                                    firebase.database().ref().update(updates);
                                    this.sendStatus = "block";
                                }
                                document.getElementById(textID).value = "";
                                this.popReadMessage(bottleID)


                            }

                        })

                        // notify receiver on telegram ~ -------------------------------------
                        function sendTeleNotifHelper(chatID, from) {
                            var BOTTOKEN = "2001239054:AAFHa2YyUb-8Y_T0NXt3J-_aRBDBrdgQrxI"
                            var sendString = `${from} has written a reply to you!! :)`;


                            var sendURL =
                                `https://api.telegram.org/bot${BOTTOKEN}/sendMessage?chat_id=${chatID}&text=${sendString}`;

                            axios.get(sendURL, {
                                params: {}
                            })
                                .then(response => {
                                    console.log("telegram sent!")
                                })
                                .catch(error => {
                                    console.log("telegram error")
                                })
                        }

                        receiverUserInfo = firebase.database().ref(`users/${receiver}`);
                        receiverUserInfo.once('value').then((snapshot) => {
                            if (snapshot.exists()) {
                                //console.log(snapshot.val().interacted_users);
                                telegram_info = snapshot.val()
                                    .telegram_info; //key: user, value: number of times
                                sendTeleNotifHelper(telegram_info, username);
                            } else {
                                console.log("replied user no telegram id!")
                            }
                        })

                        // end of telegram notifier ~ -------------------------------

                        // to add: add to user_interaction database count~
                        const receiver_const = receiver;


                        loggedUserInteractedInfo = firebase.database().ref(
                            `users/${username}/interacted_users`);
                        loggedUserInteractedInfo.once('value').then((snapshot) => {
                            if (snapshot.exists()) {

                                var interactupdates = {};
                                console.log("have interacted user")
                                console.log(receiver_const)

                                var oldCount = snapshot.val()[receiver_const];
                                console.log(oldCount);
                                if (oldCount === undefined) {

                                    interactupdates[
                                        `users/${username}/interacted_users/${receiver_const}`
                                    ] = 1;

                                } else {
                                    var newCount = oldCount + 1;

                                    interactupdates[
                                        `users/${username}/interacted_users/${receiver_const}`
                                    ] = newCount;

                                }

                                firebase.database().ref().update(interactupdates);


                            } else {
                                console.log("no interacted users")
                                console.log(receiver_const)
                                firebase.database().ref(`users/${username}/interacted_users`).set({
                                    [receiver_const]: 1
                                })
                            }
                        })



                        //--------- end of adding user_interaction database count
                    } else {
                        document.getElementById("sendStatus").innerHTML = "Cannot reply empty text!";
                        document.getElementById("sendStatus").setAttribute("class", "text-danger");

                    }
                },
                popReadMessage(bottleID) {
                    for (i in this.msg_list) {
                        if (this.msg_list[i]['msg_name'] == bottleID) {
                            console.log(this.msg_list[i])
                            this.msg_list.splice(i, 1);
                            console.log(this.msg_list)
                            navvm.$refs.nvmref.updateInbox();
                        }
                    }

                },
                getPath(aUser) {
                    var img_head_path = "";
                    aUserInfo = firebase.database().ref(`users/${aUser}/img_head`);
                    img_head_path = aUserInfo.once('value').then((snapshot) => {
                        if (snapshot.exists()) {
                            //console.log(snapshot.val().interacted_users);
                            img_head_path = snapshot.val();
                            return img_head_path
                        } else {
                            console.log("no img_head");
                            return ""
                        }
                    })
                    return img_head_path;

                },
                checkFriend(sender_name) {
                    var is_friend = false;
                    var username = sessionStorage.getItem("login_status");

                    senderUserInfo = firebase.database().ref(`friends/${username}/${sender_name}`);
                    is_friend = senderUserInfo.once('value').then((snapshot) => {
                        if (snapshot.exists()) {
                            console.log("user is already a friend");
                            is_friend = true;
                            return true;                            
                        } else {
                            console.log("sender is not a friend yet :x")
                            is_friend = false;
                            return false;

                        }
                    })
                    console.log(is_friend);
                    return is_friend;
                },
                connect(fri, imgPath) {
                    let user = sessionStorage.getItem("login_status");
                    var friend = firebase.database().ref('friends/' + user);
                    friend.once('value').then((snapshot) => {

                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();
                        today = dd + '/' + mm + '/' + yyyy;
                        if (snapshot.exists()) {
                            console.log("user exists in the friends table");
                            var updates = {};
                            updates['/friends/' + user + "/" + fri + "/date"] = today;
                            updates['/friends/' + user + "/" + fri + "/imgPath"] = imgPath;
                            updates['/friends/' + fri + "/" + user + "/request"] = 'true';

                            // set to pending ------

                            //updates['/friends/' + user + "/" + fri + "/request"] = "pending";

                            firebase.database().ref().update(updates);
                            //document.getElementById("friendStatus").innerHTML = "Congrats! you have a new friend now";
                            //document.getElementById("friendStatus").setAttribute("class", "text-info");
                            alert("you made a new friend!");
                        } else {
                            console.log("adding new the user:", user)
                            var updates = {};
                            updates['/friends/' + user + "/" + fri + "/date"] = today;
                            updates['/friends/' + user + "/" + fri + "/imgPath"] = imgPath;
                            updates['/friends/' + fri + "/" + user + "/request"] = 'true';

                            // set to pending ------

                        updates['/friends/' + user + "/" + fri + "/notify"] = "false";
                        


                            // end ----------
                            firebase.database().ref().update(updates);
                            navvm.$refs.nvmref.updateFriend(); //update number of friends
                            //document.getElementById("friendStatus").innerHTML = "Congrats! you have a new friend now";
                            //document.getElementById("friendStatus").setAttribute("class", "text-info");
                            alert("you made a new friend!");

                            // notify the befriended user on telegram ~

                            function sendFriendTeleNotifHelper(chatID, from) {
                                var BOTTOKEN =
                                    "2001239054:AAFHa2YyUb-8Y_T0NXt3J-_aRBDBrdgQrxI"
                                var sendString = `${from} has befriended you :)`;

                                var sendURL =
                                    `https://api.telegram.org/bot${BOTTOKEN}/sendMessage?chat_id=${chatID}&text=${sendString}`;

                                axios.get(sendURL, {
                                    params: {}
                                })
                                    .then(response => {
                                        console.log("telegram sent!")
                                    })
                                    .catch(error => {
                                        console.log("telegram error")
                                    })
                            }

                            receiverFriendUserInfo = firebase.database().ref(`users/${this.displayName}`);
                            console.log(`sent friend request to ${this.displayName} i think`);
                            receiverFriendUserInfo.once('value').then((snapshot) => {
                                if (snapshot.exists()) {
                                    //console.log(snapshot.val().interacted_users);
                                    telegram_info = snapshot.val()
                                        .telegram_info; //key: user, value: number of times
                                    sendFriendTeleNotifHelper(telegram_info, username);
                                } else {
                                    console.log("replied user no telegram id!")
                                }
                            })

                            // end of notification of befriended user



                        }
                        this.friendList();
                    });
                },
                friendList() {
                    var username = sessionStorage.getItem("login_status");
                    var friends = firebase.database().ref('friends/' + username);
                    // var friend_list = [];
                    friends.once('value').then((snapshot) => {
                        if (snapshot.exists()) {
                            var fri = snapshot.val();
                            console.log(fri)
                            var friList = Object.keys(fri)
                            if (friList.includes(this.displayName)) {
                                console.log(this.displayName)
                                this.connectDisplay = "none"
                            } else {
                                this.connectDisplay = "block"
                            }
                        }
                    })
                }
            },
        }).mount('#message')

        function expandReply(ele) {
            var id = ele.id;
            console.log(id);
            var msg = document.getElementById(id);
            msg.classList.toggle("active");
            var reply = msg.previousSibling;
            var sendReply = msg.nextSibling.firstChild;
            console.log(reply);
            if (reply.style.display === "block") {
                reply.style.display = "none";
                msg.innerHTML = "Reply";
                sendReply.style.display = "none";
            } else {
                reply.style.display = "block";
                msg.innerHTML = "Collapse";
                sendReply.style.display = "block";
            }
        }

        myModa4 = document.getElementById("myModa4");
        window.onclick = function (event) {
            if (event.target == myModal4) {
                myModal4.style.display = "none";
            }
        }
        myModa4 = document.getElementById("myModa4");

    </script>

    <!-- Bundled Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
</body>

</html>