<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>

    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <!-- firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="js/database.js"></script>

    <!-- leaflet css-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <!-- Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>





</head>

<body>

    <div class="container-float">
        <h3>User Registration</h3>
        <form action="#" id="form" class="justify-content-center-sm9" method="POST">

            Username: <input type="text" name="username" id="username" required>
            <p style="font-size: x-small; font-weight: bold;" class="text-danger">Your username cannot be changed once
                registered</p>

            <p id="usernameStatus"></p>

            Password: <input type="password" name="password" id="password" required>
            </br>
            Verify Password: <input type="password" name="verify" id="verify" required>

            <div id="passwordStatus"></div>
            Gender: </br><select name="gender" id="gender" required>
                <option value="gender" selected>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <div id="genderStatus"></div>

            <p style="margin-top: 30px; font-size: x-small; font-weight: bold; padding:0 40px">
                Please click on the map roughly where your location is!
                You can select a country or state from the dropdown below for the map to pan and zoom into.
            </p>



            <div id="map"></div>
            <script src="js/registerMap.js"></script>


            <div id="dropdown">
                <div style="margin-top: 20px">Country for map to zoom into: </div> <select name="country" id="country"
                    v-model="selected_country" onchange="countryChange()">
                    <option value="choose" selected>Please select the country</option>
                    <option v-for="country in country_list" :value="country.country_iso2">{{ country.country_name }}
                    </option>
                </select>

                <div v-if="!stateSelectDisabled">
                    <div style="margin-top: 10px">State/Province for map to zoom into: </div> <select name="state"
                        id="state" v-model="selected_state" onchange="stateChange()">
                        <option value="choose" selected>Please select your state</option>
                        <option v-for="state in state_list" :value="state.state_name">{{ state.state_name }}
                        </option>
                    </select>
                </div>



                <!-- <p>{{ selected_country }}</p> -->
                <p>{{ state_url }}</p>
                <p>{{ city_url }}</p>

            </div>

            <p id="countryCoordinate" style="font-size: x-small; font-weight: bold; padding:0 40px">Please click or tap
                on the map for the coordinates you want to register (cannot be changed, but no need exact location if
                you would like your privacy)</p>
            <div id="hiddenCoordinates" hidden></div>


            <input class="yellowBtn" id="register" type="button" value="Register" disabled
                onclick="checkIfUserExists(document.getElementById('username').value)">
            <div id="registerStatus" class="text-danger"></div>

        </form>
    </div>
    <footer class="bg-dark text-center text-white">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">Team IDK</a>
        </div>
        <!-- Copyright -->
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    country_list: [], // array of post objects
                    state_list: [],
                    city_list: [],
                    selected_country: 'choose',
                    selected_state: 'choose',
                    selected_city: 'choose'
                }
            },
            created() { // created is a hook that executes as soon as Vue instance is created
                axios.get('https://api.countrystatecity.in/v1/countries', {
                        headers: {
                            'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                        }
                    }).then(response => {
                        var countries = response.data;
                        console.log(countries)
                        for (i of countries) {
                            // console.log(i)
                            var country_iso2 = i['iso2']
                            var country_name = i['name']
                            // var country_latitude = i['latitude']
                            // var country_longitude = i['longitude']
                            // console.log(country_latitude,country_longitude)
                            this.country_list.push({
                                country_iso2: country_iso2,
                                country_name: country_name
                            });
                        };
                    })
                    .catch(error => {
                        console.log(error.message)
                    });
            },
            computed: {
                state_url() {
                    // this creates the city list
                    this.state_list = []

                    if (this.selected_country === "SG") {
                        console.log("no state, Singapore");
                        try {
                            stateSelectDisabled();
                        } catch {
                            ;
                        }
                        return;
                    }

                    var state_url = "https://api.countrystatecity.in/v1/countries/" + this
                        .selected_country + "/states";
                    // return state_url
                    axios.get(state_url, {
                            headers: {
                                'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                            }
                        }).then(response => {
                            console.log(state_url)
                            var states = response.data;
                            console.log(states)
                            if (states.length != 0) {
                                for (i of states) {
                                    var state_code = i['iso2']
                                    var state_name = i['name']
                                    this.state_list.push({
                                        state_code: state_code,
                                        state_name: state_name
                                    });
                                };
                            } else {
                                // this.state_list.push(this.country_list)
                                console.log("no state");
                                stateSelectDisabled()
                            }
                        })
                        .catch(error => {
                            console.log(error.message)
                        });
                },
                city_url() {
                    // this creates the city list
                    this.city_list = []
                    var city_url = "https://api.countrystatecity.in/v1/countries/" + this
                        .selected_country + "/states/" + this.selected_state + "/cities";
                    axios.get(city_url, {
                            headers: {
                                'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                            }
                        }).then(response => {
                            console.log(city_url)
                            var cities = response.data;
                            console.log(cities)
                            if (cities.length != 0) {
                                for (i of cities) {
                                    var city_id = i['id']
                                    var city_name = i['name']
                                    this.city_list.push({
                                        city_id: city_id,
                                        city_name: city_name
                                    });
                                };
                            } else {
                                console.log("no city");
                                citySelectDisabled()
                            }
                        })
                        .catch(error => {
                            console.log(error.message)
                        });
                },
                stateSelectDisabled() {
                    if (this.state_list.length == 0) {
                        return true;
                    }
                },
                citySelectDisabled() {
                    if (this.city_list.length == 0) {
                        return true;
                    }

                }
            }
        }).mount('#dropdown')
    </script>

    <script>
        // keyboard enter
        var username = document.getElementById('username');
        var form = document.getElementById('form');
        form.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("register").click();
                checkIfUserExists(username)
            }
        });

        // check user status 
        function checkIfUserExists(username) {
            var user = firebase.database().ref('users/' + username);
            user.once('value').then((snapshot) => {
                if (snapshot.exists()) {
                    document.getElementById("status").innerText = "User ID has already been taken.";
                    document.getElementById("usernameStatus").innerHTML = "Username has been taken"
                } else {
                    checkPassword();
                    checkGender();
                }
            });
        }

        function checkIfUserInputExists() {
            var username = document.getElementById("username").value;


            if (username === "") {
                document.getElementById("usernameStatus").innerHTML = "Username is blank :("
                document.getElementById("usernameStatus").setAttribute("class", "text-danger");
                return false;
            }

            var user = firebase.database().ref('users/' + username);
            user.once('value').then((snapshot) => {
                if (snapshot.exists()) {
                    document.getElementById("usernameStatus").innerHTML = "Username has been taken :("
                    document.getElementById("usernameStatus").setAttribute("class", "text-danger");
                    return false;
                } else {
                    document.getElementById("usernameStatus").innerHTML = "Username has not been taken :)"
                    document.getElementById("usernameStatus").setAttribute("class", "text-success");
                    return true;
                }
            });

            if (document.getElementById("usernameStatus").innerHTML === "Username has not been taken :)") {
                return true;
            } else {
                return false;
            }

        }

        // check password
        function checkPassword() {
            var username = document.getElementById("username").value;
            var gender = document.getElementById("gender").value;
            var coordinates = document.getElementById("hiddenCoordinates").innerHTML;


            var password = document.getElementById("password").value;
            writeUserData(username, gender, password, coordinates);

        }

        function checkInputPassword() {

            //lowercase, capital, number, 8 characters

            function hasLowerCase(str) {
                return (/[a-z]/.test(str));
            }

            function hasUpperCase(str) {
                return (/[A-Z]/.test(str));
            }

            function hasNumber(myString) {
                return /\d/.test(myString);
            }

            function hasMinimum8Characters(myString) {
                return myString.length >= 8;
            }



            var password = document.getElementById("password").value;
            var verifyPassword = document.getElementById("verify").value;


            if (!hasLowerCase(password)) {
                document.getElementById("passwordStatus").innerHTML = "Password does not contain lower case :(";
                document.getElementById("passwordStatus").setAttribute("class", "text-danger");
                return false;
            }

            if (!hasUpperCase(password)) {
                document.getElementById("passwordStatus").innerHTML = "Password does not contain capital letter :(";
                document.getElementById("passwordStatus").setAttribute("class", "text-danger");
                return false;
            }

            if (!hasNumber(password)) {
                document.getElementById("passwordStatus").innerHTML = "Password does not contain number :(";
                document.getElementById("passwordStatus").setAttribute("class", "text-danger");
                return false;
            }

            if (!hasMinimum8Characters(password)) {
                document.getElementById("passwordStatus").innerHTML = "Password is not at least 8 characters :(";
                document.getElementById("passwordStatus").setAttribute("class", "text-danger");
                return false;
            }

            if (password !== verifyPassword) {
                document.getElementById("passwordStatus").innerHTML = "Passwords did not match :(";
                document.getElementById("passwordStatus").setAttribute("class", "text-danger");
                return false;
            }

            document.getElementById("passwordStatus").innerHTML = "Password is valid :)";
            document.getElementById("passwordStatus").setAttribute("class", "text-success");


            return true;



        }

        function checkGender() {

            if (document.getElementById("gender").value !== "gender") {
                document.getElementById("genderStatus").innerHTML = "Gender is selected :)";
                document.getElementById("genderStatus").setAttribute("class", "text-success");
                return true;
            } else {
                document.getElementById("genderStatus").innerHTML = "No gender selected :(";
                document.getElementById("genderStatus").setAttribute("class", "text-danger");
                return false;

            }

        }

        function checkCoordinatesInput() {

            if (document.getElementById("hiddenCoordinates").innerHTML !== "") {
                console.log("coordinates not blank");
                return true;
            } else {
                console.log("coordinates is blank");
                return false;
            }
        }

        function checkallInputs() {
            if (checkIfUserInputExists() && checkInputPassword() && checkGender() && checkCoordinatesInput()) {
                document.getElementById("register").disabled = false;
                document.getElementById("registerStatus").innerHTML = "";
            } else {
                document.getElementById("register").disabled = true;
                // document.getElementById("registerStatus").innerHTML = `username is valid: ${checkIfUserInputExists()}<br>password is valid: ${checkInputPassword()}<br>gender chosen: ${checkGender()}<br>coordinates inputted: ${checkCoordinatesInput()}`;
            }

        }

        // writes the data to db
        function writeUserData(username, gender, password, coordinates) {
            firebase.database().ref('users/' + username).set({
                    password: password,
                    gender: gender,
                    telegram_info: "",
                    coordinates: JSON.parse(coordinates)
                }).then(function () {

                    window.location.href = 'index.html';
                })
                .catch(function (error) {
                    console.log("registration failed");
                    document.getElementById("registerStatus").innerHTML =
                        "registration failed :( Please contact us for support";
                });
        }



        document.getElementById("countryCoordinate").setAttribute("class", "text-danger");
        document.getElementById("username").addEventListener("change", () => {
            checkIfUserInputExists();
            checkallInputs();
        });
        document.getElementById("password").addEventListener("change", () => {
            checkInputPassword();
            checkallInputs();
        });
        document.getElementById("verify").addEventListener("change", () => {
            checkInputPassword();
            checkallInputs();
        });
        document.getElementById("gender").addEventListener("change", () => {
            checkGender();
            checkallInputs();
        });
    </script>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>


</body>

</html>