<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>

    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div class="box">
        <img src="../public/img/sea_register.jpeg" alt="">
        <div class="container-float">
            <h3>User Registration</h3>
            <form action="#" id="form" class="justify-content-center-sm9" method="POST">
                Username: <input type="text" name="username" id="username" required>
                <p style="color: red; font-size: x-small; font-weight: bold;">Your username cannot be changed once
                    registered</p>

                Password: <input type="password" name="password" id="password" minlength="8" required>
                Verify Password: <input type="password" name="verify" id="verify" required>
                Gender: <select name="gender" id="gender">
                    <option value="gender" selected>Select your gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>


                <div id="dropdown">
                    Country: <select name="country" id="country" v-model="selected_country">
                        <option value="choose" selected>Please select your country</option>
                        <option v-for="country in country_list" :value="country.country_iso2">{{ country.country_name }}
                        </option>
                    </select>

                    <div v-if="!stateSelectDisabled">
                    State/Province: <select name="state" id="state" v-model="selected_state">
                        <option value="choose" selected>Please select your state</option>
                        <option v-for="state in state_list" :value="state.state_code">{{ state.state_name }}</option>
                    </select>
                    </div>

                    <div v-if="!citySelectDisabled">
                    City/District: <select name="city" id="city" v-model="selected_city">
                        <option value="choose" selected>Please select your city</option>
                        <option v-for="city in city_list" :value="city.city_id">{{ city.city_name }}</option>
                    </select>
                    </div>

                    <!-- <p>{{ selected_country }}</p> -->
                    <p>{{ state_url }}</p>
                    <p>{{ city_url }}</p>

                </div>
                <script>
                    Vue.createApp({
                        data() {
                            return {
                                country_list: [], // array of post objects
                                state_list: [],
                                city_list: [],
                                selected_country: 'choose',
                                selected_state: 'choose',
                                selected_city: 'choose'
                            }
                        },
                        created() { // created is a hook that executes as soon as Vue instance is created
                            axios.get('https://api.countrystatecity.in/v1/countries', {
                                    headers: {
                                        'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                                    }
                                }).then(response => {
                                    var countries = response.data;
                                    console.log(countries)
                                    for (i of countries) {
                                        // console.log(i)
                                        var country_iso2 = i['iso2']
                                        var country_name = i['name']
                                        // var country_latitude = i['latitude']
                                        // var country_longitude = i['longitude']
                                        // console.log(country_latitude,country_longitude)
                                        this.country_list.push({country_iso2: country_iso2,country_name: country_name});
                                    };
                                })
                                .catch(error => {
                                    console.log(error.message)
                                });
                        },
                        computed: {
                            state_url() {
                                // this creates the city list
                                this.state_list = []
                                var state_url = "https://api.countrystatecity.in/v1/countries/" + this.selected_country + "/states";
                                // return state_url
                                axios.get(state_url, {
                                        headers: {
                                            'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                                        }
                                    }).then(response => {
                                        console.log(state_url)
                                        var states = response.data;
                                        console.log(states)
                                        if (states.length != 0) {
                                            for (i of states) {
                                                var state_code = i['iso2']
                                                var state_name = i['name']
                                                this.state_list.push({state_code: state_code,state_name: state_name});
                                            };
                                        } else {
                                            // this.state_list.push(this.country_list)
                                            console.log("no state");
                                            stateSelectDisabled()
                                        }
                                    })
                                    .catch(error => {
                                        console.log(error.message)
                                    });
                            },
                            city_url() {
                                // this creates the city list
                                this.city_list = []
                                var city_url = "https://api.countrystatecity.in/v1/countries/" + this.selected_country + "/states/" + this.selected_state + "/cities";
                                axios.get(city_url, {
                                        headers: {
                                            'X-CSCAPI-KEY': "R0YzdjVUdXlXQnlVaTJNTThQRjh4ZFVBREN5Z3c1eldqZFJGTGdQMQ=="
                                        }
                                    }).then(response => {
                                        console.log(city_url)
                                        var cities = response.data;
                                        console.log(cities)
                                        if (cities.length != 0) {
                                            for (i of cities) {
                                                var city_id = i['id']
                                                var city_name = i['name']
                                                this.city_list.push({city_id: city_id,city_name: city_name});
                                            };
                                        } else {
                                            console.log("no city");
                                            citySelectDisabled()
                                        }
                                    })
                                    .catch(error => {
                                        console.log(error.message)
                                    });
                            },
                            stateSelectDisabled(){
                                if (this.state_list.length ==0) {
                                    return true;
                                }  
                            },
                            citySelectDisabled() {             
                                if (this.city_list.length ==0) {
                                    return true;
                                }
                                    
                            }
                        }
                    }).mount('#dropdown')
                </script>

                <input class="btn btn-primary" type="button" value="Register"
                    onclick="checkIfUserExists(document.getElementById('username').value)">
                <input class="btn btn-success" type="button" value="Update"
                    onclick="updateUser(document.getElementById('username').value)">

                <p id='status'></p>
                <p id='latest'></p>

            </form>
        </div>
    </div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <!-- This is the API from Firebase Realtime Database -->
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>

    <script>
        // Config and Initialize Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyDLM5eiv5cOkBtM-os59uGPAhtFkdBCAhY",
            authDomain: "sademo2018-2-11ec2.firebaseapp.com",
            databaseURL: "https://sademo2018-2-11ec2.firebaseio.com",
            projectId: "sademo2018-2-11ec2",
            storageBucket: "sademo2018-2-11ec2.appspot.com",
            messagingSenderId: "431393859582",
            appId: "1:431393859582:web:ccc0434dd68846b15b82af"
        };
        firebase.initializeApp(firebaseConfig);

        // check user status 
        function checkIfUserExists(username) {
            var user = firebase.database().ref('users/' + username);
            user.once('value').then((snapshot) => {
                if (snapshot.exists()) {
                    document.getElementById("status").innerText = "User ID has already been taken.";
                } else {
                    checkPassword();
                }
            });
        }

        // check password
        function checkPassword() {
            var password = document.getElementById("password").value;
            var verify = document.getElementById("verify").value;
            if (String(password) != String(verify)) {
                document.getElementById("status").innerText = "Passwords are not matched";
                console.log("mismatched")
            } else {
                var username = document.getElementById("username").value;
                var gender = document.getElementById("gender").value;
                var country = document.getElementById("country").value;
                var city = document.getElementById("city").value;
                var password = document.getElementById("password").value;
                writeUserData(username, gender, country, city, password);
            }
        }

        // writes the data to db
        function writeUserData(username, gender, country, city, password) {
            firebase.database().ref('users/' + username).set({
                    password: password,
                    gender: gender,
                    country: country,
                    city: city,
                    instagram_username: "",
                    spotify_username: "",
                    youtube_username: "",
                    telegram_info: "",
                    description: "",
                    bottle_message: ""
                }).then(function () {
                    document.getElementById("status").innerText = "Register succeeded.";
                    window.location.href = 'login.html';
                })
                .catch(function (error) {
                    document.getElementById("status").innerText = "Register Failed.";
                });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>


</body>

</html>